.header {
  max-width: calc(100vw - 27px * 2);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition-property: min-height;
  transition-duration: 0.2s;
}

.header::before {
  transition: inherit;
  position: absolute;

  z-index: -1;

  content: '';

  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;

  top: 0;
  left: auto; /* left: calc((100vw - 1280px) / 2); */

  width: 1280px;
  max-width: 100vw;
}

.header,
.header::before {
  min-height: 120px;
}

@media screen and (max-width: 767px) {
  .header,
  .header::before {
    min-height: 85px;
  }
}

@media screen and (max-width: 1280px) {
  .header::before {
    left: 0;
  }
}
