.popup__title {
  margin: 0 0 44px;

  max-width: fit-content;
  max-height: 23px;

  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  color: #000;
}

@media screen and (max-width: 767px) {
  .popup__title {
    margin-bottom: 62px;

    font-size: 18px;
    line-height: 22px;
  }
}