.form__input {
    min-height: 37px;

    outline: none;

    box-sizing: border-box;

    padding: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: transparent;

    font-size: 14px;
    line-height: 17px;

    transition-property: border-bottom;
    transition-duration: .3s;

    -webkit-tap-highlight-color: transparent;

    margin-bottom: 30px;
}

.form__input::placeholder {
    color: #c4c4c4;

    user-select: none;
}

.form__input:-webkit-autofill,
.form__input:-webkit-autofill:hover,
.form__input:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;

    -webkit-text-fill-color: #000;
    border-color: #bb1f1f;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
