.element__trash-button {
    height: 20px;
    min-width: 20px;

    border: none;
    outline: none;

    background-color: transparent;
    background-image: url(../../../images/trash-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, .2));

    padding: 0;

    cursor: pointer;

    transition-property: opacity, transform;
    transition-duration: .2s;

    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.element__trash-button:active {
    transform: scale(.9);
}

@media (hover: hover) {
    .element__trash-button:hover {
        opacity: .6;
    }
}