.popup__container {
  position: relative;

  width: 430px;
  max-width: 100%;

  border-radius: 10px;

  background-color: rgba(255, 255, 255, .93);

  backdrop-filter: blur(30px) saturate(5) brightness(2);

  box-shadow: 0 0 15px rgba(255, 255, 255, .3);

  padding: 34px 36px 36px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .popup__container {
    padding: 25px 22px;
  }
}

.popup__container {
  animation: popup__appear .25s cubic-bezier(0.175, 0.885, 0.32, 1);
}