.popup__container {
  position: relative;

  width: 430px;
  max-width: 100%;

  border-radius: 10px;

  background-color: #fff;

  padding: 34px 36px 36px;
  box-sizing: border-box;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .popup__container {
    padding: 25px 22px;
  }
}