.header__credential {
    margin: 0;
    border: none;
    background-color: transparent;
    font-size: 18px;
    line-height: 22px;

    font-weight: 500;
    color: white;

    max-width: calc(50vw - 27px);
    text-overflow: ellipsis;

    overflow: hidden;
    cursor: pointer;
}

.header__credential:hover {
    transition: font-size 2s linear;
    font-size: 20px;
}