.element__like-button {
  height: 24px;
  min-width: 24px;

  border: none;
  outline: none;

  background-color: transparent;
  background-image: url(../../../images/like-icon.svg);
  background-repeat: no-repeat;
  background-position: center;

  padding: 0;

  cursor: pointer;

  transition-property: opacity, background-image, transform;
  transition-duration: .2s;

  -webkit-tap-highlight-color: transparent;
  user-select: none;

  appearance: none;
}

.element__like-button:checked {
  background-image: url(../../../images/like-icon-filled.svg);
}

.element__like-button:active {
  transform: scale(.9);
}

@media (hover: hover) {
  .element__like-button:hover {
    opacity: .5;
  }
}